[Desktop Entry]
Type=Service
Icon=preferences-system-time
Exec=kcmshell5 msm_timedate

X-KDE-Library=msm_timedate
X-KDE-ServiceTypes=KCModule
X-KDE-System-Settings-Parent-Category=manjaro
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=msm_timedate
X-KDE-Keywords=timedate
X-KDE-Keywords[x-test]=xxtimedatesxx
Categories=Qt;KDE;X-KDE-settings-system;manjaro

Name=Time and Date
Name[x-test]=xxTime and Datesxx
Name[fr]=Date et heure
Name[pl]=Data i czas
Name[sk]=Čas a dátum
Comment=Time and Date Settings
Comment[x-test]=xxTime and Date Settingsxx
Comment[fr]=Paramètres de date et heure
Comment[pl]=Ustawienia daty i czasu
Comment[sk]=Nastavenia času a dátumu
