[Desktop Entry]
Type=Service
Icon=preferences-desktop-locale
Exec=kcmshell5 msm_language_packages

X-KDE-Library=msm_language_packages
X-KDE-ServiceTypes=KCModule
X-KDE-System-Settings-Parent-Category=manjaro
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=msm_language_packages
X-KDE-Keywords=language;packages
X-KDE-Keywords[x-test]=xxkeyboardxx
Categories=Qt;KDE;X-KDE-settings-system;manjaro

Name=Language Packages
Name[x-test]=xxLanguage Packagesxx
Name[fr]=Paquets linguistiques
Name[pl]=Paczki językowe
Name[sk]=Jazykové balíky
Comment=Language Packages
Comment[x-test]=xxLanguage Packagesxx
Comment[fr]=Paquets linguistiques
Comment[pl]=Paczki językowe
Comment[sk]=Jazykové balíky
