[Desktop Entry]
Type=Service
Icon=preferences-desktop-keyboard
Exec=kcmshell5 msm_keyboard

X-KDE-Library=msm_keyboard
X-KDE-ServiceTypes=KCModule
X-KDE-System-Settings-Parent-Category=manjaro
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=msm_keyboard
X-KDE-Keywords=keyboard
X-KDE-Keywords[x-test]=xxkeyboardxx
Categories=Qt;KDE;X-KDE-settings-system;manjaro

Name=Keyboard
Name[x-test]=xxKeyboardxx
Name[fr]=Clavier
Name[pl]=Klawiatura
Name[sk]=Klávesnica
Comment=Keyboard Settings
Comment[x-test]=xxKeyboard Settingssxx
Comment[fr]=Paramètres du clavier
Comment[pl]=Ustawienia klawiatury
Comment[sk]=Nastavenia klávesnice
